<div class="form-group">
    <input autocomplete="off" autofocus class="form-control" id="symbol" name="symbol" placeholder="symbol"
           type="text">
    <small id="emailSymbol" class="form-text text-muted">Ex: NFLX</small>
</div>